name: new-workflow

on: 
  push:
    branches:
      - main

jobs:
  find-pr-by-criteria:
    runs-on: ubuntu-latest
    steps:
      - name: Get blob of deployment branch
        id: prs
        run: |
          echo "::set-output name=open::$( curl -s -f -XGET -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' -H 'Accept: application/vnd.github.v3+json' 'https://api.github.com/repos/javierpedreira/actions_playground/pulls?state=open' |  jq '.[]')')"
      - name: prs
        run: echo '${{ steps.prs.outputs.open }}'
