name: new-workflow

on: 
  push:
    branches:
      - main

jobs:
  find-pr-by-criteria:
    runs-on: ubuntu-latest
    steps:
      - name: Get blob of deployment branch
        id: vars
        run: |
          echo "::set-output name=pr::$( curl -s -f -XGET -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' -H 'Accept: application/vnd.github.v3+json' 'https://api.github.com/repos/javierpedreira/actions_playground/pulls?state=open' | jq '.[0]' | jq '.title | contains("prueba") )"
      - name: prs
        run: echo ${{ steps.vars.outputs.pr }}
