# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  push:
    branches-ignore:
      - dependabot/npm_and_yarn/**
    tags:
      - "*"
  schedule:
    - cron: "*/5 * * * *"
  pull_request:
    types: [labeled]
  workflow_dispatch:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs: # This workflow contains a single job called "build"
  test-api:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      ENV: "pepe"
      REPO: "manolor"
      BRANCH: "pituso"
    if: ${{!startsWith(github.event.head_commit.message, 'docs:')}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Get the version
        id: vars
        run: echo ::set-output name=tag::$(if [[ "$GITHUB_EVENT_NAME" == "workflow_dispatch" || "$GITHUB_EVENT_NAME" == "schedule" ]]; then echo $GITHUB_SHA; else echo ${GITHUB_REF/refs\/tags\//}; fi)
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Testing the BE! ${{ steps.vars.outputs.tag }}

  test-app:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    if: ${{!startsWith(github.event.head_commit.message, 'docs:')}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Testing the FE!

  publish-docker1:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [test-api, test-app]
    if: ${{ (github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/') || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo  publish-docker1!

  validator:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Running validator!
      - name: Create deployment file content for insights-explorer
        id: craftDeploymentFile
        run: |
          echo "::set-output name=content::$( echo -e "version: 658f39cbe1126d0b9ffe8ac8bcef8d2a1e715684\r\nrepository: insights-explorer" | base64 )"
      - name: LALALA $ENV $REPO ${{ env.BRANCH }}
        run: |
          echo -e "version: 658f39cbe1126d0b9ffe8ac8bcef8d2a1e715684\r\nrepository: insights-explorer" | base64 | tr -d "\t\n\r" > config
      - name: Read config file
        run: echo $(cat config)

  publish-docker2:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [test-api]
    if: ${{ (github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/') || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo  publish-docker2!
  release-libraries:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [publish-docker1, publish-docker2]
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'}}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Releasing libs!
